@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&family=Roboto:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

header {
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    color: #000;
    background-color: #AD8B73;
}


header nav {
    position: relative;
    right: 30px;
}

header h2 {
    position: relative;
    left: 20px;
}

ul {
    list-style: none;
}

.foto-portada-left {
    width: 100%;

}
/*fotos portadas inferior*/
.foto-portada-inferior1 {
    width: 50%;

}
.foto-portada-inferior ul {
    display:flex;
}
.foto-portada-inferior ul li {
    padding: 20px;
}

/*ofertas */
h2 {
    text-align: center;
    height: 10%;
    font-family: 'Poppins', sans-serif;
    padding: 10%;
}

.seccion-ofertas {
    display: grid;
    grid-template-columns: repeat (3fr);
    display: flex;
}
.seccion-ofertas .foto-ofertas {
    width: 50%;
    height: 180px;
}
/*contacto*/
.contacto {
    height: 10%;
    padding:1%;
    width: 75%;
    align-items: center;
    border: 2px orangered solid;
    margin: 10%;
}

#producto-contenedor {
    display: grid;
    margin: 90px auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card {
    margin: 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 25px 0px;
}

.productoEnCarrito {
    border-left: 5px solid lightblue;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    margin: 5px 0;
    padding: 5px 10px;
    display: flex;
    justify-content: space-around;
}

.tablaCarrito {
    margin: 5px 0;
    padding: 5px 10px;
    display: flex;
    justify-content: space-around;
}

.columnaCarrito {
    padding: 5px 95px;
}
